{% extends "inc/base.html" %}
{% load static %}
{% block addHeader %}
    <title>ASK</title>
{% endblock addHeader %}

{% block header %}
    {% include "inc/header-logged-in.html" %}
{% endblock header %}

{% block content %}
    <h2 class="mt-5">404 - page not found</h2>
{% endblock content %}

{% block side-panel %}
    <h2 class="mt-5">Tags</h2>
    {% include "inc/tags.html" %}

    <h2 class="mt-3">Best Members</h2>
    {% include "inc/best-members.html" %}
{% endblock side-panel %}

{% block footer %}
    {% include "inc/pages.html" %}
{% endblock footer %}
