main > .container {
    padding: 60px 5px 0;
}

body {
    background-color: #f5f5f5;
}

.rate {
    border-radius: 10px;
    border: 1px solid;
    text-align: center;
    display: block;
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.avatar-question-full {
    width: 130px;
    height: 130px;
    margin-top: 10px;
}

.avatar-header {
    width: 40px;
    height: 40px;
}

.question {
    border-radius: 5px;
    border: 2px solid;
    margin: 7px;
    padding: 10px;
}

.full_question {
    margin: 20px;
    padding: 0px;
}

.user_acc {
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid;
    padding: 10px;
}

.pages {
    margin: 20px;
    padding: 10px;
}

.mt-5 {
    font-weight: 500; !important
}

.col-3 {
    margin-left: auto;
    margin-right: 0;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.avatar-question {
    width: 120px;
    height: 103px;
    border-radius: 10px;
    border: 1px solid;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
