{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block addHeader %}
    <title>New Question</title>
{% endblock addHeader %}

{% block header %}

{% endblock header %}

{% block content %}
    <h2 class="mt-5">Ask question</h2>
    {% if user.is_authenticated %}
        <form action="/ask/" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-floating">
                {% bootstrap_form form %}
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    {% else %}
        <div class="mb-3">
            <a class="register" href="{% url "sign-up" %}">Login to ask question</a>
        </div>
    {% endif %}
{% endblock content %}

{% block side-panel %}
    <h2 class="mt-5">Tags</h2>
    {% include "inc/tags.html" %}

    <h2 class="mt-3">Best Members</h2>
    {% include "inc/best-members.html" %}
{% endblock side-panel %}

{% block footer %}

{% endblock footer %}
