{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block addHeader %}
    <title>Sign-In</title>

    <link rel="stylesheet" href="{% static "css/sign_up.css" %}">

{% endblock addHeader %}

{% block header %}

{% endblock header %}

{% block content %}
    <form class="form-signin mt-5" action="/login/" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-floating">
            {% bootstrap_form form %}
        </div>

        <div class="p-1">
            <button class="w-50 btn btn-lg btn-primary float-end" type="submit">Sign in</button>
            <a class="register" href="{% url "sign-up" %}">Don't have an account?</a>
        </div>
    </form>
{% endblock content %}

{% block side-panel %}
    <h2 class="mt-5">Tags</h2>
    {% include "inc/tags.html" %}

    <h2 class="mt-3">Best Members</h2>
    {% include "inc/best-members.html" %}
{% endblock side-panel %}

{% block footer %}

{% endblock footer %}
