{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block addHeader %}
    <title>Question</title>
{% endblock addHeader %}

{% block header %}

{% endblock header %}

{% block content %}
    {% include "inc/question-big.html" %}

    <hr class="my-4">

    {% if question.answers.all.count > 0 %}
        {% for answer in question.answers.all %}
            {% include "inc/answer.html" %}
        {% endfor %}
    {% else %}
        <h3 class="m-3">No answers so far</h3>
    {% endif %}
    <hr class="my-4">

    {% if user.is_authenticated %}
        <form action="/question/{{ question.id }}" method="post">
            <div class="mb-3">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% bootstrap_form form %}
            </div>

            <button type="submit" class="btn btn-primary">Answer</button>
        </form>
    {% else %}
        <div class="mb-3">
            <a class="register" href="{% url "sign-up" %}">Login to add answer</a>
        </div>
    {% endif %}


{% endblock content %}

{% block side-panel %}
    <h2 class="mt-5">Tags</h2>
    {% include "inc/tags.html" %}

    <h2 class="mt-3">Best Members</h2>
    {% include "inc/best-members.html" %}
{% endblock side-panel %}

{% block footer %}
{% endblock footer %}
