{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block addHeader %}
    <title>Settings</title>

    <link rel="stylesheet" href="{% static "css/sign_up.css" %}">

{% endblock addHeader %}

{% block header %}

{% endblock header %}

{% block content %}
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3 pt-3">Settings</h4>
        <form class="needs-validation" novalidate action="/profile/edit/" method="post">

            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-floating">
                {% bootstrap_form form %}
            </div>

            <div class="col-md-10">
                <label class="form-label" for="customFile">Change avatar</label>
                <img class="avatar-question m-3" src="{% static "img/bear.png" %}" alt="">
            </div>

            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
        </form>
    </div>
{% endblock content %}

{% block side-panel %}
    <h2 class="mt-5">Tags</h2>
    {% include "inc/tags.html" %}

    <h2 class="mt-3">Best Members</h2>
    {% include "inc/best-members.html" %}
{% endblock side-panel %}

{% block footer %}

{% endblock footer %}
