{% load static %}
<div class="row question">
    <div class="col-2">
        <img class="avatar-question" src="{% static "img/bear.png" %}" alt="">
        {% include "inc/rate.html" %}
    </div>
    <div class="col-10">
        <h3><a href="{% url "question" question.id %}">{{ question.title }} </a></h3>
        <p class="question-text" style="height: 60px;">{{ question.text }}</p>
        <div class="align-items-end">
            <a class="me-3" href="{% url "question" question.id %}">answers ({{ question.answers.all.count }})</a>
            <a>Tags: </a>
            {% for i in question.tags.all %}
                <a class="" href="{% url "tag" i %}">{{ i }}</a>
            {% endfor %}
        </div>
    </div>
</div>
